---
import Layout from "../layouts/Layout.astro"
import FaqCard from "../components/faqCard.tsx"
import FoodFaq from "../components/foodFaq.tsx"
import '../styles/base.css';

---

<Layout title="Trevor & Kristen">
<div class="h-[60px]"></div>
<h1 class="text-center font-bold text-4xl m-5">FAQ</h1>
<FaqCard client:load image="" question="Are kids allowed to attend?" answer="As much as we enjoy having your kiddos around, Kristen and I are requesting that no kids be in attendance."/>
<FaqCard client:load image="/parking.jpg" question="Where can we park?" answer="On the south side of the Venue is a public parking lot capped at $12 a night. There is also free street parking on Weekends if you find a spot close by or don't mind a little walk."/>
<FaqCard client:load image="" question="Where can we stay?" answer="We have room blocks at the Courtyard by Marriott and the Canopy by Hilton. Please check the home page for links."/>
<FoodFaq client:load></FoodFaq>
