---
import Layout from '../layouts/Layout.astro';
import engaged1 from '../images/engagement1.jpg';
import engaged2 from '../images/engagement2.jpg';
import '../styles/base.css';
import PhotoLibrary from '../components/photoLibrary.astro';
import calendar from '../../public/calendar.svg?raw';
---

<Layout title="Trevor & Kristen">
  <section class="" >
    <!-- style={`background-image: url(${engaged.src}`}
    <div class="bg-[url('../images/engagement.jpg')] h-">
    -->
    <img class="z-0 w-full hidden md:inline" src={engaged1.src}  alt="Canded photo in front of sunset on rocks next to beach.">
    <img class="z-0 w-full inline md:hidden" src={engaged2.src}  alt="Enagement photo on the beach. A couple laughing.">
      <div class="absolute z-20 text-2xl md:text-7xl font-bold text-center text-white w-1/3 md:left-20 right-10 top-10">
        <h1 class="font-vibes slideInLeft">Trevor</h1>
        <h1 class="font-vibes">&</h1>
        <h1 class="font-vibes slideInRight">Kristen</h1>
        <h1 class="font-vibes mt-10">October 19, 2024</h1>
      </div>
      <div class="w-full  bg-black">
      </div>
  </section>
  <main>
    <section id="">
      <p class="text-center mt-20 w-2/3 m-auto text-2xl">We are ready for this engagement to be over! Please, help make our big day special and join us as we 
        celebrate our commitment to each other.</p>
      <h3 class="text-center mt-10 text-3xl">Save the date!</h3>
      <div class="flex flex-col md:flex-row justify-center mt-4 items-center">
        <a class="w-16" href="/public/wedding.ics" download="trevorkristenwedding.ics">
          <div class="border-black border-2 rounded-lg p-2 flex justify-center">
            <Fragment set:html={calendar} />
          </div>
        </a>
        <p class="text-2xl text-center pt-2 pl-2">Saturday, October 19, 2024</p>
      </div>
      <h3 class="text-center mt-10 mb-6 text-3xl">Our Venue</h3>
      <p class="text-2xl font-bold text-center mb-6"><a href="https://thehighfivegr.com">The High Five GR</a></p>
      <iframe class="m-auto w-2/3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2919.750680138372!2d-85.66828672374892!3d42.962458171143325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8819ad0aeaf9de37%3A0x94a4334e0fd4640c!2sThe%20High%20Five%20GR%20Inc!5e0!3m2!1sen!2sus!4v1696462400678!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section id="engagementPhotos" class="mt-20">
      <PhotoLibrary />
    </section>
  </main>
  <footer class="" >
    <p class="text-right">Copyright &copy; trevorandkristen.com</p>
  </footer>
</Layout>

<style>
</style>
