---
import Layout from '../layouts/Layout.astro';
import engaged1 from '../images/engagement1.jpg';
import engaged2 from '../images/engagement2.jpg';
import '../styles/base.css';
import RSVPModal from '../components/rsvpModal.jsx'
---

<Layout title="Trevor & Kristen">
  <section class="" >
    <!-- style={`background-image: url(${engaged.src}`}
    <div class="bg-[url('../images/engagement.jpg')] h-">
    -->
    <img class="z-0 w-full hidden md:inline" src={engaged1.src}  alt="Canded photo in front of sunset on rocks next to beach.">
    <img class="z-0 w-full inline md:hidden" src={engaged2.src}  alt="Enagement photo on the beach. A couple laughing.">
      <div class="absolute z-20 text-2xl md:text-7xl font-bold text-center text-wed_white w-1/3 md:left-20 right-10 top-10">
        <h1 class="font-vibes slideInLeft">Trevor</h1>
        <h1 class="font-vibes">&</h1>
        <h1 class="font-vibes slideInRight">Kristen</h1>
        <h1 class="font-vibes mt-10">October 19, 2024</h1>
      </div>
      <div class="w-full  bg-wed_black">
      </div>
  </section>
  <main>
    <div class="flex flex-col items-center gap-3 my-4">
        <a class="" href='./timeline.html'><button class="text-white bg-wed_black rounded-md p-2 w-30">Relationship Timeline</button></a>
        <RSVPModal client:load/>
    </div>
    <h1 class="p-5 text-[8vw] font-bold  text-white bg-wed_black text-center">#LetsGetEdeweird</h1>
  </main>
  <footer class="md:static absolute bottom-0 left-0 right-0 m-auto w-full" >
    <p class="text-right">Copyright &copy; trevorandkristen.com</p>
  </footer>
</Layout>

<style>
</style>
