---
import Layout from '../layouts/Layout.astro'
import '../styles/base.css';
---

<Layout title="Trevor & Kristen">
<div class="h-[60px]"></div>
<br><script id='script_myregistry_giftlist_iframe' type='text/javascript' src='//www.myregistry.com//Visitors/GiftList/iFrames/EmbedRegistry.ashx?r=FwnBEe4p51hVT_HWZEeR_A2&v=2'></script>