---
import Layout from '../layouts/Layout.astro'
import '../styles/base.css';
---


<Layout title="Trevor & Kristen">
<div class="h-[60px]"></div>
<h1 class="text-center font-bold text-4xl m-5">Registry</h1>
<div class="w-10/12 m-auto">
    <p>We currently have blocks at two hotels downtown Grand Rapids:</p>
    <h3 class="mb-1"> Courtyard by Marriott</h3>
    <a class=" border-2 border-black bg-white rounded-lg no-underline p-1" href="https://book.passkey.com/e/50789421">Book Here</a>
    <h3 class="mt-8 mb-1">Canopy by Hilton</h3>
    <a class=" border-2 border-black bg-white rounded-lg no-underline p-1" href="https://www.hilton.com/en/book/reservation/deeplink/?ctyhocn=GRRGRPY&groupCode=PEWD&arrivaldate=2024-10-18&departuredate=2024-10-20&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT">Book Here</a>
    <p></p>
</div>
