---
import Layout from '../layouts/Layout.astro';
import '../styles/base.css';
import Card from '../components/timelineCard.astro';
import hinge1 from '../../public/hinge1.png';
import hinge2 from '../../public/hinge2.png';
import StPatty from '../../public/stpatty2.jpg';
import valentines from '../../public/valentine1.jpg';
---


<Layout title="Trevor & Kristen">

<body class="">
    <div class="flex py-4 mx-auto ">
        <h2 class="font-bold text-3xl mx-auto">December, 2019</h2>
    </div>

    <div class="h-40 z-0"></div>
    <div class="flex justify-center items-center">
        <div class=" bg-black w-2 h-screen top-20 absolute"></div>
    </div>

    <div class="flex flex-col gap-12 ">
        <Card title="First Date" date="December 11, 2019" side="right" pic1={hinge1.src} pic2={hinge2.src} body="I'd love to set the scene for an epic meet cute story but the truth is we owe this relationship to good ole Hinge. For those who don't know, Hinge is a dating app. It's true, a dating app doesn't make for some great story (my favorite being the movie Serendipity) but luckily for you, I bragged about the hot date I landed to my now Best Man and sent him these pictures. So, you get a glimpse of what I saw. Thank you Hinge!!"/>

        <Card title="First Valentines" date="February 14, 2020" side="left" pic1={valentines.src}  body="Valentines 2020 was only a couple weeks after we were 'officially' boyfriend and girlfriend. We took a little drive to Rosy Mound Natural Area in Grand Haven and took a cold but pretty walk to the beach. This was followed up with a visit to The Toasted Pickle (definitely recommend if visiting Grand Haven)."/>

        <Card title="First Date" date="December 11, 2019" side="right" body="It was Christmas time and we both found ourselves at Bloomingdale's trying to puchase the same pair of black cashmere gloves. We basically fell in love instantly, but Kristen decided to leave our entire potential relationship up to fate. She wrote her name and number in a book and I wrote mine on a 5 dollar bill. Would fate prove we were meant to be together?...OK, OK this is the plot of Serendipity. We met on Hinge, best dating app ever baby!!!"/>

        <Card title="First Date" date="December 11, 2019" side="left" body="It was Christmas time and we both found ourselves at Bloomingdale's trying to puchase the same pair of black cashmere gloves. We basically fell in love instantly, but Kristen decided to leave our entire potential relationship up to fate. She wrote her name and number in a book and I wrote mine on a 5 dollar bill. Would fate prove we were meant to be together?...OK, OK this is the plot of Serendipity. We met on Hinge, best dating app ever baby!!!"/>

        <Card title="First Date" date="December 11, 2019" side="right" body="It was Christmas time and we both found ourselves at Bloomingdale's trying to puchase the same pair of black cashmere gloves. We basically fell in love instantly, but Kristen decided to leave our entire potential relationship up to fate. She wrote her name and number in a book and I wrote mine on a 5 dollar bill. Would fate prove we were meant to be together?...OK, OK this is the plot of Serendipity. We met on Hinge, best dating app ever baby!!!"/>

    </div>
    <!-- 
    <div class="w-2/3 m-auto grid grid-cols-3">
        <Card title="First Date" date="December 11, 2019" side="right" body="It was Christmas time and we both found ourselves at Bloomingdale's trying to puchase the same pair of black cashmere gloves. We basically fell in love instantly, but Kristen decided to leave our entire potential relationship up to fate. She wrote her name and number in a book and I wrote mine on a 5 dollar bill. Would fate prove we were meant to be together?...OK, OK this is the plot of Serendipity. We met on Hinge, best dating app ever baby!!!"/>
        <div class="flex justify-center">
            <div class="rounded-full h-6 w-6 bg-black"></div>
        </div>
        <Card title="First Date" date="December 11, 2019" side="right" body="It was Christmas time and we both found ourselves at Bloomingdale's trying to puchase the same pair of black cashmere gloves. We basically fell in love instantly, but Kristen decided to leave our entire potential relationship up to fate. She wrote her name and number in a book and I wrote mine on a 5 dollar bill. Would fate prove we were meant to be together?...OK, OK this is the plot of Serendipity. We met on Hinge, best dating app ever baby!!!"/>
    </div>
    -->

</body>