---
import Layout from '../layouts/Layout.astro';
import '../styles/base.css';
---


<Layout title="Trevor & Kristen">

<body class="">
    <div class="z-1 fixed w-3 bg-red-700 h-screen top-0 left-1/2 overflow-visible">
    </div>
</body>