---
import Layout from '../layouts/Layout.astro';
import '../styles/base.css'
import Card from '../components/timelineCard2.astro';
import hinge1 from '../../public/hinge1.jpg';
import hinge2 from '../../public/hinge2.jpg';
import StPatty from '../../public/stpatty2.jpg';
import valentines from '../../public/valentine1.jpg';
import shooting1 from '../../public/shooting1.jpg';
import shooting2 from '../../public/shooting2.jpg';
import boatday1 from '../../public/boatday1.jpg';
import boatday2 from '../../public/boatday2.jpg';
import tennessee1 from '../../public/tennessee1.jpg';
import tennessee4 from '../../public/tennessee4.jpg';
import grandcanyon from '../../public/grandcanyon1.jpg';
import picturedrocks from '../../public/picturedrocks.jpg';
import picturedrocks1 from '../../public/picturedrocks1.jpg';
import florida from '../../public/florida.jpg';
import florida1 from '../../public/florida2.jpg';
import house1 from '../../public/house1.jpg';

---


<Layout title="Trevor & Kristen">

<section class="absolute top-32 w-full">
    <Card></Card>
</section>