---
export interface Props {
	title: string;
	body: string;
}

const {title, body } = Astro.props;
---

<div class="pb-4 w-2/5 rounded-3xl border-8 border-black">
	<h2 class="pt-4 font-bold text-3xl text-center">{title}</h2>
	<p class="p-2 text-2xl">{body}</p>	
</div>
