---

---

<div class="rounded-3xl border-4 border-black">
	<h3 class="text-center font-bold my-6">Details!</h3>
	<div class="mb-6">
		<div class="flex justify-evenly ">
			<div>
				<h4 class="text-xl underline font-bold mb-4">Date & Location</h4>
				<p class="text-lg mb-4"><span class="font-bold">When: </span>Saturday, October 19, 2024</p>
				<p class="text-lg"><span class="font-bold">Where: </span><a href="https://thehighfivegr.com">The High Five GR</a></p>
			</div>
			<div>
				<h4 class="text-xl underline font-bold mb-4">Agenda</h4>
				<ul class="list-disc text-lg">
					<li>4PM - Doors open</li>
					<li>4:30PM - Ceremony on 5th floor</li>
					<li>5PM - Cocktail hour on the 4th floor</li>
					<li>6PM - Reception back on the 5th floor</li>
				</ul>
			</div>
		</div>
	</div>
</div>
