---

---

<div class="rounded-3xl border-8 border-black">
	<h3 class="text-center font-bold">Details!</h3>
	<div class="">
		<div class="flex justify-evenly ">
			<div>
				<h4 class="text-xl underline">Date & Location</h4>
				<p class="text-lg"><span>When: </span>Saturday, October 19, 2024</p>
				<p class="text-lg"><span>Where: </span><a href="https://thehighfivegr.com">The High Five GR</a></p>
			</div>
			<div>
				<h4 class="text-xl underline">Agenda</h4>
				<ul class="list-disc text-lg">
					<li>Doors open at 4PM</li>
					<li>Ceremony at 4:30PM on the 5th floor</li>
					<li>Cocktail hour on the 4th floor until 6PM</li>
					<li>Reception back on the 5th floor at 6PM</li>
				</ul>
			</div>
		</div>
	</div>
</div>
