---
//import RSVP from '../components/rsvp.astro';
import RSVPReact from '../components/rsvpReact.jsx';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Wedding website for Kristen & Trevor.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body id="body">
		<header class="z-0">
			<div class="flex justify-between p-4">
				<a class="" href='./index.html'><button class="text-white bg-black rounded-md p-2 w-50">Home</button></a>
				<div class="">
					<a class="mr-4" href='./timeline.html'><button class="text-white bg-black rounded-md p-2 w-30">Relationship Timeline</button></a>
					<RSVPReact client:load/>
				</div>
			</div>
		</header>
		<slot />
	</body>
</html>